.root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.shell {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.middle {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-width: 0;
}
